:root {
  /* Define Colors as colors */
  --primary: #24201e;
  --secondary: #ca6e32;
  --tertiary: #e3e5d7;
  --white: #fff;
  --dark-text: #24201e;
  /* Define Colors intentions */
  --background-primary: var(--primary);

  /* Styles */

  /* Type */

  --h1: 5.653rem;
  --h2: 3.998rem;
  --h3: 2.827rem;
  --h4: 1.999rem;
  --h5: 1.414rem;

  --smallText: 0.8rem;

  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-1-white: 0 1px 3px 0 rgba(255, 255, 255, 0.1),
    0 1px 2px 0 rgba(255, 255, 255, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-2-white: 0 4px 6px -1px rgba(255, 255, 255, 0.06),
    0 2px 4px -1px rgba(255, 255, 255, 0.1);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 10px;
}

html {
  box-sizing: border-box;
  scrollbar-width: thick;
  scrollbar-color: var(--secondary) var(--primary);
  font-size: 62.5%;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
htmL::-webkit-scrollbar {
  width: 15px;
}
html::-webkit-scrollbar-track {
  background-color: var(--primary);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 59%;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 52%;
  }
}
body {
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

body {
  background-color: var(--background-primary);
  color: var(--white);
}
.btn {
  font-size: var(--h4);
  width: 22rem;
  height: 5rem;
  color: var(--white);
  border: 2px solid transparent;
  padding: 0.5rem 2.4rem;
  text-decoration: none;
  transition: all 0.4s;
  background-color: transparent;
  border-radius: 3rem;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(color(black), 0.6);
}
.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  transform: scaleX(1.5) scaleY(1.6);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.header-btn:hover {
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: var(--level-2-white);
}

.header-btn-link,
.header-btn-link:visited,
.header-btn-link:link {
  text-decoration: none;
  color: inherit;
}
